# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Bacon files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Bacon/vendor/VulkanSDK
Skillet/assets/cache
scripts/__pycache__