# Binaries
**/bin/
bin-int/
Intermediates/

# Bacon files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Bacon/vendor/VulkanSDK
Skillet/assets/cache
scripts/__pycache__